global-include CMakeLists.txt *.cmake
include AUTHORS README.rst HISTORY CHANGELOG.rst LICENSE
graft src
graft tests
global-exclude *.py[cod] __pycache__
recursive-exclude .tox *
recursive-exclude .github *
recursive-exclude vcpkg *
